<!--エラーメッセージ-->
<!--<div id="error">-->
<!-- <% if @book.errors.any? %>-->

<!--  <h2><%= @book.errors.count %> error prohibited this book from being saved:</h2>-->

<!--  <ul>-->
<!--     <% @book.errors.full_messages.each do |message| %>-->
<!--     <li>-->
<!--      <%= message %>-->
<!--     </li>-->
<!--     <% end %>-->
<!--  </ul>-->
<!-- <% end %>-->
<!--</div>-->

<!--投稿機能-->

<!--<%= form_with model: @book, url: "/books", method: :post, local:true do |f| %>-->

<!--<div class="field">-->
<!--<label for="book_title">Title</label>-->
<!--<%= f.text_field :title %>-->
<!--</div>-->

<!--<div class="field">-->
<!--<label for="book_body">Body</label>-->
<!--<%= f.text_area :body %>-->
<!--</div>-->

<!--<div class="actions">-->
<!--<%= f.submit "Create Book" %>-->

<!--<% end %>-->

